{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
Oups ..
{% endblock %}
{% block body %}
{{ parent() }}
<main class="container">
<p class="flow-text red-text center-align">Vous n'avez pas accès à cette page</p>
</main>
{% endblock %}