<div class="card hoverable">
        <a class="black-text" href="{{path('teckmeb_administration_homepage')}}">
            <div class="card-content">
                <span class="card-title">Groupe actif</span>
                <table class="centered highlight striped">
                    <thead>
                        <th>Nom</th>
                    </thead>
                    <tbody>
                        {% if listGroupe is not null %}
                            {% for groupe in listGroupe %}
                                <tr>
                                    <td>
                                        <a class="black-text" href="{{path('teckmeb_administration_modify_groupe' , {id : groupe.id})}}">
                                            {{groupe}}
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">
                                        Il n'y a pas de groupe en cours
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    Il n'y a pas de groupe en cours
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </a>
    </div>