<h1>Bienvenue sur Teckmeb</h1>

<p>Bonjour {{content.name}} {{content.surname}}</p>
<br/>
<p>Un compte sur le site Teckmeb vous à été créé</p>
<p>Cet site va vous permettre de suivre vos absences, notes durant toutes votre scolarité au DUT informatique de Lyon 1</p>
<p>Vous aurez également la possiblité de consulter votre emploi du temps et de poser des questions avec vos professeurs</p>
<br/>
<p>Vos identifiants sont les suivants</p>
<br/>
<p>Nom d'utilisateur : {{content.username}}</p>
<p>Mot de passe : {{password}}</p>
<br/>
<p>Votre mot de passe peut être changé une fois connecté sur le site en cliquant sur le logo utilisateur de la barre de navigation et en cliquant sur votre nom et prénom</p>
<br/>
<p>Cordialement</p>
<p>L'équipe Teckmeb</p>