<h1>Bienvenue sur Teckmeb</h1>

<p>Bonjour {{content.name}} {{content.surname}}</p>
<br/>
<p>Un compte sur le site Teckmeb vous à été créé</p>
<p>Cet site va vous permettre de gérer les notes de vos différents modules au cours des semestres</p>
<p>Vous aurez également la possiblité de consulter votre emploi du temps et de répondre aux questions des étudiants et de gérer vos PTUT</p>
<br/>
<p>Vos identifiants sont les suivants</p>
<br/>
<p>Nom d'utilisateur : {{content.username}}</p>
<p>Mot de passe : {{password}}</p>
<br/>
<p>Votre mot de passe peut être changé une fois connecté sur le site en cliquant sur le logo utilisateur de la barre de navigation et en cliquant sur votre nom et prénom</p>
<br/>
<p>Cordialement</p>
<p>L'équipe Teckmeb</p>